$coral: #FF8362;
$coral-dark: #ff5c40;
$turqoise: #16CFAE;
$green: #08CB56;
$blue: #09A0E1;
$pink: #FF90CC;

$dark: #202020;
$grey-light: #EFEFEF;

.coral-gradient {
    background-image: linear-gradient(to bottom right, $coral, $coral-dark);
}