[data-theme="light"] {

    h1,
    h2,
    h3 {
        color: $dark;
    }

    .page-wrapper {
        &:before {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    .collapsable {
        background-color: white;

        &-item {

            li,
            p {
                color: $dark;
            }
        }
    }

    .arrow-up {
        border-bottom-color: white;
    }

    .settings-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .light-icon:before {
        background-image: url("../../img/icons/light/setting-theme.svg");
    }

    .dark-icon:before {
        background-image: url("../../img/icons/light/setting-theme-dark.svg");
    }
}

@media (prefers-color-scheme: light) {

    [data-theme="light"] {

        h1,
        h2,
        h3 {
            color: $dark;
        }

        .page-wrapper {
            &:before {
                background-color: rgba(255, 255, 255, 0.15);
            }
        }

        .collapsable {
            background-color: white;

            &-item {

                li,
                p {
                    color: $dark;
                }
            }
        }

        .arrow-up {
            border-bottom-color: white;
        }

        .settings-wrapper {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .light-icon:before {
            background-image: url("../../img/icons/light/setting-theme.svg");
        }

        .dark-icon:before {
            background-image: url("../../img/icons/light/setting-theme-dark.svg");
        }
    }
}