@import 'typography';
@import 'colors';
@import 'animations';
@import 'transitions';

body,
html {
    margin: 0;
    padding: 0;
    height: calc(100% - 72px);
    width: 100%;
}

body {
    &.coral {
        @extend .coral-gradient;

        .button,
        .icon-wrap {
            @extend .coral-gradient;
        }
    }

    &.light {

        h1,
        h2,
        h3 {
            color: $dark;
        }

        .collapsable {
            background-color: white;
        }

        .arrow-up {
            border-bottom-color: white;
        }

        .settings-wrapper {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    &.dark {

        h1,
        h2,
        h3 {
            color: white;
        }
    }
}

.page-wrapper {
    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 12px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.animateIn {
        animation-name: animateIn;
        animation-delay: 0.2s;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }
}

.logo-wrapper {
    display: flex;

    &:hover {
        .photo {
            img {
                transform: scale(1.25) rotate(360deg);
            }
        }
    }

    .photo {
        overflow: hidden;
        border-radius: 85px;
        width: 85px;
        height: 85px;

        img {
            width: 100%;
            height: 100%;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    .logo {
        padding-left: 10px;
        padding-top: 10px;

        p {
            max-width: 200px;
            margin: 0;
            line-height: 1;
        }
    }
}

.intro-wrapper {
    text-align: center;

    h1 {
        padding-bottom: 40px;
    }
}

.header {
    position: absolute;
    top: 60px;
}

.settings-wrapper {
    backdrop-filter: blur(2px);
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
    position: relative;
    padding-bottom: 40px;
    transition: all 0.4s ease-in-out;

    .description {
        h2 {
            font-size: 20px;
        }
    }

    .settings {
        display: inline-block;

        .attract-hover {
            float: left;
        }

        &-icon {
            &-wrap {
                width: 100px;
                margin: 10px;
                float: left;
                cursor: pointer;

                &:hover {
                    .icon-wrap {
                        @extend .btn-hover;
                    }
                }

                &.clicked {
                    .icon-wrap {
                        @extend .btn-clicked;
                    }
                }

                h3 {
                    display: inline-block;
                    font-size: 15px;
                    margin-top: 10px;
                }
            }
        }
    }

    .icon {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;

        &-wrap {
            width: 100px;
            height: 100px;
            float: left;
            border-radius: 30px;
            display: flex;
            align-items: center;
            transition: all 0.15s ease-in-out;
        }

        &-theme {
            background-image: url("../img/icons/light/theme.svg");
            width: 60px;
            height: 50px;
        }
    }

    .button {
        position: absolute;
        bottom: -30px;
        left: 35%;
        right: 35%;
        margin: 0 auto;
        transition: all 0.25s ease-in-out;

        &:hover {
            @extend .btn-hover;
        }

        &.clicked,
        &:active,
        &:focus {
            @extend .btn-clicked;
        }
    }
}

.button {
    padding: 22px 45px;
    border-radius: 40px;
    color: #FFF;
    font-size: 20px;
}

.collapsable {
    position: relative;
    border-radius: 25px;
    margin-bottom: 20px;

    &-wrapper {
        overflow: hidden;
        padding-top: 15px;
        transition: all 0.4s ease-in-out;

        &.hidden {
            opacity: 0;
            transform: scale(0);
            transform-origin: top;
            height: 0;
            filter: blur(20px);
        }

        &.open {
            transform: scale(1);
        }
    }
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid;
    position: absolute;
    top: -15px;
    left: 40px;
}

.popIn {
    animation: popIn 0.5s both;
}

.popOut {
    animation: popOut 1s both;
}

@import 'responsive';