.btn-hover {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2) inset;
    filter: brightness(0.95);
}

.btn-clicked {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3) inset;
    filter: brightness(0.9);
}

.attract-hover {
    display: block;
}